.welcome {
    background-color: lighten($light-green, 45%);
    border-radius: 3px;
    padding: $s-size;
    span {
        font-weight: 700;
        cursor: pointer;
    }
}

.welcome__username {
    font-size: $font-size-large;
    color: $dark-grey;
    span {
        color: $light-green;
    }
}

.welcome__currently-viewing {
    font-style: italic;
}
